{% extends 'mainapp/base.html' %}

{% block title %}
  Sign Out
{% endblock %}

{% block content %}
<div>
  <div class="container pt-4">

    <div class="row p-0 mt-4">
      <div class="col-lg-6 justify-content-center text-center mx-auto shadow p-0">
        <div class="alert alert-info">
            <h5>User logged out successfully.</h5>
            <p>Use this link to Sign In <a href="/accounts/signin/">Click Here</a></p>
        </div>
      </div>
    </div>    
  </div>
</div>
{% endblock %}