{% extends 'mainapp/base.html' %}

{% block title %}
    Sign Up
{% endblock %}

{% block content %}
<div class="container pt-4">
    <div class="col-lg-4 mx-auto shadow p-0 mt-4">
        <div class="alert alert-info">
            <h3>Sign Up</h3>
        </div>

        <div class="p-4">
            <form action="/accounts/signup/" method="post">
                {% csrf_token %}
                <!-- {{ name }} -->
                    {{ form.as_p }}
                
                <!-- <input type="text" placeholder="Enter Username" />
                <input type="password" placeholder="Enter Password" />
                <input type="password" placeholder="Confirm Password" /> -->
                <hr>
                <input class="btn btn-success" type="submit" value="Create Account">
            </form>
        </div>
    </div>
</div>
{% endblock %}