{% extends 'mainapp/base.html' %}

{% block title %}
  Add Customer
{% endblock %}

{% block content %}
<div>
  <div class="container pt-4">

    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
            <h3>Add new Customer</h3>
        </div>
        <div class="p-4">
            <form action="/customers/add-customer/" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <hr>
                <input type="submit" value="Add Customer" class="btn btn-info">
            </form>
        </div>
      </div>     

      <div class="col">
        <div class="border">
          {% if customers|length == 0 %}
            <div class="p-4">
              <br />
              <br />
              <div class="alert alert-info text-center">
                <p class="" style="font-size: 30px;">
                  No Customers
                </p>
              </div>
              <br />
            </div>
          {% else %}
            <div>
              <table class="table">
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Customer Name
                    </th>
                    <th>
                      Customer Email
                    </th>
                    <th>
                      Customer Phone
                    </th>
                    <th>
                      Customer City
                    </th>   
                    <th>
                      Action
                    </th>                                      
                  </tr>
                </thead>

                <tbody>
                    {% for customer in customers %}
                    <tr>
                      <td>{{forloop.counter}}</td>
                      <td>{{customer.customer_name}}</td>
                      <td>{{customer.customer_email}}</td>
                      <td>{{customer.customer_phone}}</td>
                      <td>{{customer.customer_city}}</td>
                      <td>
                        <!-- /customers/edit-customer/1 -->
                        <a href="/customers/edit-customer/{{customer.customer_id}}" title="Edit" >📝</a>&nbsp;
                        <a href="/customers/view-customer/{{customer.customer_id}}" title="View" >👁</a>&nbsp;
                        <a href="/customers/delete-customer/{{customer.customer_id}}" title="Delete" class="">🗑️</a>
                      </td>
                    </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}