{% extends 'mainapp/base.html' %}

{% block title %}
  Edit Customer
{% endblock %}

{% block content %}
<div>
  <div class="container pt-4">

    <div class="row p-0 mt-4">
      <div class="col-lg-4 mx-auto shadow p-0">
        <div class="alert alert-info">
            <h3>Edit Customer</h3>
        </div>
        <div class="p-4">
            <form action="/customers/edit-customer/{{customer.customer_id}}" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <hr>
                <input type="submit" value="Update Customer" class="btn btn-info">
            </form>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}